@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #0A0A0A;
}

.header-continer {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.title {
    font-family: sans-serif;
    font-size: 32px;
    color: #C7C7C7;
    text-transform: uppercase;
    flex-wrap: nowrap;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-li {
    list-style: none;
}

.nav-a {
    font-family: sans-serif;
    text-decoration: none;
    color: #C7C7C7;
}

.hero {
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: #0A0A0A;
    border-bottom: 1px solid #484848;
}

.hero-continer {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-div-text1 {}

.title2 {
    font-size: 101px;
    font-family: sans-serif;
    color: #C7C7C7;
    margin-bottom: 8px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.text1 {
    font-family: sans-serif;
    font-size: 18px;
    color: #C7C7C7;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 40px;
}

.hero-div-btn1 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.button1 {
    padding-top: 9px;
    padding-left: 19px;
    padding-bottom: 9px;
    padding-right: 19px;
    border-radius: 100px;
    border: none;
    background-color: #D3E97A;
}

.img2 {}

.img3 {
    display: none;
}


.img1 {
    display: none;
}

.img6 {
    width: 500px;

}

.froz {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #0A0A0A;
    border-bottom: 1px solid #484848;
}

.froz-continer {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

}

.title3 {
    font-family: sans-serif;
    font-size: 76px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.text2 {
    margin-bottom: 80px;

}

.all-froz-div1 {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-bottom: 120px;
    position: relative;
}

.btn1 {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 16px;
    margin-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 100px;
    background-color: #0A0A0A;
    color: white;
    border: none;
}

.all-froz-div12 {
    display: flex;
    align-items: center;
    gap: 48px;
}

.froz-div1 {
    padding-top: 126px;
    padding-left: 57px;
    padding-bottom: 127px;
    padding-right: 57px;
    background-color: #1A1A1A;
    border-radius: 12px;
}

.img7 {}

.froz-div2 {}

.title4 {
    font-family: sans-serif;
    font-size: 32px;
    color: white;
    margin-bottom: 16px;
    font-weight: 500;
}

.text3 {
    font-family: sans-serif;
    font-size: 18px;
    color: #C7C7C7;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 32px;
}

.title5 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #484848;
}

.froz-link {
    list-style: none;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #484848;
    display: flex;
    justify-content: space-between;
}

.froz-li {
    font-family: sans-serif;
    font-size: 16px;
    color: #C7C7C7;

    justify-content: space-between;

}

.froz-div3 {
    display: flex;
    gap: 214px;
}

.img8 {}

.text2 {
    font-family: sans-serif;
    font-size: 18px;
    color: #C7C7C7;
}

.img9 {
    display: none;
}

.fox {
    padding-top: 122px;
    padding-bottom: 416px;
    background-color: #0A0A0A;
}

.fox-continer {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    gap: 213px;
}

.title6 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 101px;
    text-transform: uppercase;
    color: white;
}

.all-div-fox {
    max-width: 600px;
}

.text4 {
    font-family: sans-serif;
    font-size: 32px;
    margin-bottom: 16px;
    color: white;
}

.text5 {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 53px;
    color: white;

}

.img10 {}

.text6 {
    font-family: sans-serif;
    font-size: 18px;
    color: #C7C7C7;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 24px;
    display: none;
}

.img11 {

    display: none;
}

.a11 {
    text-decoration: none;
    gap: 24px;
}

.reker {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #0A0A0A;
}

.reker-continer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

}

.all-reker-div {
    display: flex;
    /* justify-content: space-between; */
}

.reker-div1 {}

.title7 {
    font-family: sans-serif;
    font-size: 76px;
    color: white;
    margin-bottom: 16px;
}

.text7 {
    font-family: sans-serif;
    font-size: 18px;
    color: #C7C7C7;
    padding-bottom: 8px;

}

.s1 {
    color: white;
}

.reker-img1 {
    margin-top: 40px;
    display: flex;
    gap: 24px;
}

.a1 {}

.img12 {}

.a2 {}

.reker-div2 {}

.input-form1 {
    max-width: 1000%;
}

input{
    max-width: 6000px;
}
@media(max-width:540px) {

    .img1 {
        display: block;
    }

    .nav-link {
        display: none;
    }

    .title {
        font-size: 28px;
    }

    .hero {
        padding-top: 40px;
        padding-bottom: 64px;
    }

    .hero-continer {
        display: block;
    }

    .hero-div-text1 {}

    .title2 {
        font-size: 52px;
        margin-bottom: 12px;
        text-decoration: none;
    }

    .text1 {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .hero-div-btn1 {
        margin-bottom: 64px;
    }

    .button1 {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .img2 {}

    .img3 {
        display: block;
    }

    .img4 {}

    .img5 {}

    .img6 {
        width: 343px;
    }

    .img7 {
        display: none;
    }

    .all-froz-div1 {
        display: block;
    }

    .all-froz-div12 {
        display: block;
    }

    .img9 {
        width: 100%;
        display: block;

    }

    .froz {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .title3 {
        font-size: 43px;
        margin-bottom: 12px;
    }

    .text2 {
        font-size: 16px;
    }

    .froz-div1 {
        margin-bottom: 40px;
    }

    .title4 {
        font-size: 24px;
    }

    .text3 {
        font-size: 16px;
    }

    .fox {
        padding-top: 0;
        padding-bottom: 16px;
    }

    .fox-continer {
        display: block;
    }

    .title6 {
        display: none;
    }

    .all-div-fox {}

    .text4 {
        display: none;

    }

    .text5 {
        display: none;

    }

    .text6 {
        display: block;

    }

    .img10 {
        margin-bottom: 64px;
    }

    .img11 {
        display: block;
    }
}